<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <div class="container" th:fragment="content">
        <h3>Products</h3>
        <a class="float-end btn btn-light" th:href="@{/products/add}"><span class="bi-plus-square me-3"></span>Add new product</a>
        <table class="table table-light table-hover">
            <thead class="table-info">
                <tr>
                    <th>ID
                        <a th:href="@{/products/all?sort=id,} + (${pagination.hasSorting('id', 'asc')} ? 'desc' : 'asc')">
                            <span th:class="'bi-sort-alpha-' + (${pagination.hasSorting('id', 'asc')} ? 'up' : 'down')"
                                  th:classappend="${pagination.hasSorting('id')} ? 'bg-light border-primary' : ''"></span></a>
                    </th>
                    <th>Name
                        <a th:href="@{/products/all?sort=name,} + (${pagination.hasSorting('name', 'asc')} ? 'desc' : 'asc')">
                            <span th:class="'bi-sort-alpha-' + (${pagination.hasSorting('name', 'asc')} ? 'up' : 'down')"
                                  th:classappend="${pagination.hasSorting('name')} ? 'bg-light border-primary' : ''"></span></a>
                    </th>
                    <th>Description</th>
                    <th>Cal.
                        <a th:href="@{/products/all?sort=nutrientsInfo.calories,} + (${pagination.hasSorting('nutrientsInfo.calories', 'asc')} ? 'desc' : 'asc')">
                            <span th:class="'bi-sort-alpha-' + (${pagination.hasSorting('nutrientsInfo.calories', 'asc')} ? 'up' : 'down')"
                                  th:classappend="${pagination.hasSorting('nutrientsInfo.calories')} ? 'bg-light border-primary' : ''"></span></a>
                    <th>Fat
                        <a th:href="@{/products/all?sort=nutrientsInfo.fats,} + (${pagination.hasSorting('nutrientsInfo.fats', 'asc')} ? 'desc' : 'asc')">
                            <span th:class="'bi-sort-alpha-' + (${pagination.hasSorting('nutrientsInfo.fats', 'asc')} ? 'up' : 'down')"
                                  th:classappend="${pagination.hasSorting('nutrientsInfo.fats')} ? 'bg-light border-primary' : ''"></span></a>
                    </th>
                    <th>Carb.
                        <a th:href="@{/products/all?sort=nutrientsInfo.carbohydrates,} + (${pagination.hasSorting('nutrientsInfo.carbohydrates', 'asc')} ? 'desc' : 'asc')">
                            <span th:class="'bi-sort-alpha-' + (${pagination.hasSorting('nutrientsInfo.carbohydrates', 'asc')} ? 'up' : 'down')"
                                  th:classappend="${pagination.hasSorting('nutrientsInfo.carbohydrates')} ? 'bg-light border-primary' : ''"></span></a>
                    </th>
                    <th>Prot.
                        <a th:href="@{/products/all?sort=nutrientsInfo.proteins,} + (${pagination.hasSorting('nutrientsInfo.proteins', 'asc')} ? 'desc' : 'asc')">
                            <span th:class="'bi-sort-alpha-' + (${pagination.hasSorting('nutrientsInfo.proteins', 'asc')} ? 'up' : 'down')"
                                  th:classappend="${pagination.hasSorting('nutrientsInfo.proteins')} ? 'bg-light border-primary' : ''"></span></a>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}" th:object="${product}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{nutrientsInfo.calories}"></td>
                    <td th:text="*{nutrientsInfo.fats}"></td>
                    <td th:text="*{nutrientsInfo.carbohydrates}"></td>
                    <td th:text="*{nutrientsInfo.proteins}"></td>
                    <td th:replace="fragments/table :: rowActions ('/products')">Here goes actions</td>
                </tr>
            </tbody>
        </table>
        <nav th:replace="fragments/table :: pagination ('/products')"></nav>
        <div th:replace="fragments/table :: deleteModalDialog"></div>
    </div>
</body>
</html>