<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div class="container" th:fragment="content" th:switch="${users}">
        <div th:switch="${users}">
            <h3 th:case="null">No users in list yet!</h3>
            <div th:case="*">
                <h3>Users</h3>
                <table class="table table-light table-hover">
                    <thead class="table-info">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.email}"></td>
                            <td><a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a></td>
                            <td>
                                <a href="#" th:attr="data-href=@{/users/delete/{id}(id=${user.id})}"
                                   data-bs-toggle="modal" data-bs-target="#confirm-delete">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p><a href="/users/signup">Add a new user</a></p>
        <div class="m-4">
            <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Confirm delete</h5>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete selected item?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-ok">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#confirm-delete').on('show.bs.modal', function(e) {
                    $(this).find('.btn-ok').attr('href',  $(e.relatedTarget).data('href'));
                });
            });
        </script>
    </div>
</body>
</html>