<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Header title</title>
</head>
<body>
    <div class="container">
        <table class="table table-light table-hover">
            <thead class="table-info">
            <tr>
                <th>ID
                    <a th:if="${!pagination.hasAscSorting('id')}" th:href="@{/products/all?sort=id,asc}"><span class="bi-sort-alpha-down"></span></a>
                    <a th:if="${pagination.hasAscSorting('id')}" th:href="@{/products/all?sort=id,desc}"><span class="bi-sort-alpha-up"></span></a>
                </th>
                <th>Name
                    <a th:if="${!pagination.hasAscSorting('name')}" th:href="@{/products/all?sort=name,asc}"><span class="bi-sort-alpha-down"></span></a>
                    <a th:if="${pagination.hasAscSorting('name')}" th:href="@{/products/all?sort=name,desc}"><span class="bi-sort-alpha-up"></span></a>
                </th>
                <th>Description
                    <a th:if="${!pagination.hasAscSorting('description')}" th:href="@{/products/all?sort=description,asc}"><span class="bi-sort-alpha-down"></span></a>
                    <a th:if="${pagination.hasAscSorting('description')}" th:href="@{/products/all?sort=description,desc}"><span class="bi-sort-alpha-up"></span></a>
                </th>
                <th>Nutrients Info</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}" th:object="${product}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{description}"></td>
                <td th:text="*{nutrientsInfo}"></td>

                <!-- Fragment rowActions - BEGIN -->
                <td th:fragment="rowActions (baseUrl)">
                    <a class="me-3" th:href="${baseUrl} + @{/{id}(id=*{id})}"><span class="bi-info-square"></span></a>
                    <a class="me-3" th:href="${baseUrl} + @{/edit/{id}(id=*{id})}"><span class="bi-pencil"></span></a>
                    <a class="me-3" href="#" th:attr="data-href=${baseUrl} + @{/delete/{id}(id=*{id})}"
                       data-bs-toggle="modal" data-bs-target="#confirm-delete"><span class="bi-trash"></span></a>
                </td>
                <!-- Fragment rowActions - END -->

            </tr>
            </tbody>
        </table>

        <!-- Fragment pagination - BEGIN -->
        <nav th:fragment="pagination (baseUrl)" class="paging" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:each="linkInfo : ${pagination.pageLinks}"
                    th:classappend="(${linkInfo.isDisabled()} ? 'disabled' : '') + (${linkInfo.isActive()} ? 'active' : '')">
                    <a class="page-link" href="#" th:href="${baseUrl} + '/all?' + ${linkInfo.link}"
                       th:text="${linkInfo.title}" tabindex="-1">Page Number</a>
                </li>
            </ul>
        </nav>
        <!-- Fragment pagination - END -->

        <!-- Fragment deleteModalDialog - BEGIN -->
        <div th:fragment="deleteModalDialog">
            <!-- Delete-modal dialog -->
            <div class="m-4">
                <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Confirm delete</h5>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete selected item?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger btn-ok">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function() {
                    $('#confirm-delete').on('show.bs.modal', function(e) {
                        $(this).find('.btn-ok').attr('href',  $(e.relatedTarget).data('href'));
                    });
                });
            </script>
        </div>
        <!-- Fragment deleteModalDialog - END -->

    </div>
</body>
</html>