<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:fragment="title" th:text="${entity.name}">Category Details</title>
</head>
<body>
    <div class="container" th:fragment="content" th:object="${entity}">
        <h3 class="mb-4" th:text="'Details of ' + *{name}">Category Name</h3>
        <div class="row mb-3">
            <span class="col-lg-2">ID:</span>
            <span class="col-lg-10 border" th:text="*{id}"></span>
        </div>
        <div class="row mb-3">
            <span class="col-lg-2">Name:</span>
            <span class="col-lg-10 border" th:text="*{name}"></span>
        </div>
        <a class="btn btn-secondary mb-3" th:href="@{/categories}">Back to categories list</a>
    </div>
</body>
</html>